////////////////////////////////
//  Styles for the blog view  //
////////////////////////////////

.page--blog {
  @extend .m3-view;

  .block--story-share {
    background-color: $ma-orange-300;
    padding-bottom: 1px;

    .blog-story-share {
      @extend .container;
      background: $ma-yellow-300;
      padding-top: $spacer-sm;
      padding-bottom: $spacer-sm;
      border-bottom-left-radius: $spacer-xs;
      border-bottom-right-radius: $spacer-xs;
      margin-bottom: -1 * $spacer-sm;
      position: relative;
      z-index: 3;
    }

    .blog-story-share__header {
      h2 {
        @extend .m3-title-xs;
        font-size: $t-02;
      }
    }

    .blog-story-share__body {
      @extend .m3-body-sm;

      p:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .content__wrapper {
    header {
      position: relative;
      background-color: $ma-orange-300;
      
      .view__header {
        position: relative;
        z-index: 2;
      }
    }

    .view__exposed {
      .form-item-search-api-fulltext {
        @extend .col-sm-12;
      }

      .form-item-sort-order {
        display: none;
      } 
    
      .form-actions {
        @extend .col-12;
        margin-top: $spacer-xs;
      }

      .advanced-search-link {
        display: none;
      }
    }

    .content-card {
      .content-card__content-type {
        display: none;
      }
    }
  }
}


// Latest Posts

.blog-view-block--latest {
  .view__content-inner {
    @extend .row;
  }

  .views-row {
    @extend .col-sm-4;
    margin-bottom: 0;
  }
}