///////////////////////////////////////////
//  Styles for the header featured menu  //
///////////////////////////////////////////

.block--system-menu-blockheader-featured {
    ul {
        @extend .nav;
    }

    li {
        @extend .nav-item;

        a.external {
            @include preppendIcon("fa-external-link-square", $spacer-sm);
            padding-right: $spacer-md + $spacer-xs;

            &::before {
                right: $spacer-sm;
            }
        }
    }

    li:not(:last-child) {
        margin-right: $spacer-sm + $spacer-xs;
    }

    li:first-child {
        a {
            @extend %m3-cta-button--help;
        }
    }
    
    li:not(:first-child) {
        a {
            @extend %m3-standard-button;
        }
    }
}