/////////////////////////
//  Styles for header  //
/////////////////////////

.header__wrapper {
    @extend .container-fluid;
    background-color: theme-color("light");
    padding: 0;
    position: fixed;
    z-index: 200;
}

.header {
    @extend .container, .navbar, .navbar-expand-lg;
    padding: $spacer-sm + $spacer-xs;
    max-width: $extended-max-width;
}


// Brand wrapper

.brand__wrapper {
    @extend .navbar-brand;
    padding: 0;
    transition: transform 0.2s;
}

// .brand {}
// .site-branding {}

.site-branding__link {
    display: flex;
}

.site-branding__logo {
    width: 160px;
}

// Navbar elements

.navbar__wrapper,
.navbar__toggler {
    opacity: 1;
    transition: transform 0.2s, opacity 0.2s;
}

.navbar__toggler {
    position: absolute;
    top: 0;
    right: 0;

    .navbar-toggler {
        padding: 20px;
        border: none;
        outline: none;
    }

    .navbar-toggler-icon {
        @include iconize('fa-bars', 28px);
        color: $ma-green-600;
    }
}

.header__wrapper.is-expanded {
    .navbar__toggler {
        .navbar-toggler-icon {
            @include iconize('fa-times', 28px);
            color: $ma-green-600;
        }
    }
}

// Content table
.navigation__content-title {
    position: absolute;
    left: 200px;
    top: $spacer-md + $spacer-sm;
    transform: translateY(-120%);
    opacity: 0;
    transition: transform 0.2s, opacity 0.2s;

    h1 {
        @extend .m3-subtitle-lg;
    }
}

.navigation__content-table {
    position: absolute;
    width: 100%;
    padding: $spacer-xxs ($spacer-sm + $spacer-xs);
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;

    .content-table__table {
        transform: translateY(120%);
        opacity: 0;
        transition: transform 0.2s, opacity 0.2s;
        background: $ma-orange-100;
        border-radius: 999px;

        ul {
            @extend .nav;
        }

        li {
            @extend .nav-item;
        }

        a {
            @extend .nav-link, .m3-link-sm;
            color: $ma-green-700 !important;
            transition: color 0.2s;
            position: relative;
            pointer-events: all;
        }

        a:hover {
            color: $ma-green-800 !important;
        }

        a:after {
            content: '';
            display: block;
            width: 80%;
            height: 4px;
            background-color: $ma-green-700;
            opacity: 0;
            transition: opacity 0.2s;
            @include centerThis(top);
        }

        a.is-active:after {
            opacity: 1;
        }
    }
}

// Brochure shrink state

.header__wrapper.is-shrinked {
    .brand__wrapper {
        transform: translateY(-15px) scale(0.8);
    }

    .navbar__wrapper,
    .navbar__toggler {
        transform: translateY(-120%);
        opacity: 0;
    }

    .navigation__content-title {
        transform: translateY(0%);
        opacity: 1;
    }

    .navigation__content-table {
        .content-table__table {
            transform: translateY(0%);
            opacity: 1;
        }
    }
}

// responsive
@include media-breakpoint-down(sm) {
    .header {
        padding: 25px 15px;
    }

    .navigation__content-title {
        top: $spacer-sm + $spacer-xxs;
    }
}

@include media-breakpoint-down(xs) {
    .header {
        padding: 30px 20px;
    }
}