//////////////////////////////////
//  Styles for navigation menu  //
//////////////////////////////////

.navbar__wrapper {
  @extend .navbar-collapse;
  flex-direction: column;
  align-items: flex-end;
}

.navbar__elements {
  width: 100%;
}

.navbar__row:not(:last-child) {
  margin-bottom: $spacer-sm;
}

.contactbar__wrapper,
.taskbar__wrapper,
.navigation__wrapper {
  width: 100%;
}

.contactbar,
.taskbar,
.navigation {
  @extend .navbar-nav, .mr-auto;
  justify-content: flex-end;
  align-items: center;

  .block {
      @extend .nav-item;
  }
}

.block--system-menu-blockmain,
.block--system-menu-blockaccount {
    ul {
        @extend .nav;

        li {
        @extend .nav-item;

            a {
              @extend .m3-link-md;
              color: $ma-green-600;
              text-decoration: none;
              padding-right: $spacer-sm + $spacer-xs;
              transition: color 0.2s;
            }

            a:hover {
              color: $ma-green-400;
              text-decoration: none;
            }
        }
    }
}

.block--datos-de-contacto {
  p {
    margin: 0;
    color: $ma-gray-500;
    font-size: $t-01;
  }

  a {
    @extend .m3-label;
    color: $ma-green-600;
    font-size: $t-02;
  }
}

.navigation__search-button {
    @extend %m3-circle-button;

    .icon {
        @include iconize('fa-search', 16px);
    }
}


// Responsive
@include media-breakpoint-down(md) {
  .navbar__wrapper {
    position: fixed;
    right: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    pointer-events: none;
    transform: translateY(0) !important;
    overflow: hidden;
    display: flex;

    .navbar__elements {
      width: 55%;
      height: 100%;
      padding: $spacer-xs + $spacer-xxs;
      padding-bottom: $spacer-xl;
      background-color: $m3-light;
      border: 1px solid $ma-green-300;
      pointer-events: all;
      transition: transform 0.3s;
      transform: translateX(100%);

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: $m3-light;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
      }

      &:before {
        content: '';
        display: block;
        width: 100vw;
        height: 100%;
        background: rgba($ma-gray-500, 0.8);
        position: absolute;
        right: 0;
        top: -1px;
        z-index: -1;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s;
      }

      .navbar__row {
        position: relative;
        z-index: 1;
      }

      .contactbar,
      .taskbar,
      .navigation {
        justify-content: flex-start;
        align-items: flex-start;
      }

      .navbar__row:not(:last-child) {
        margin-bottom: 0;
      }

      .contactbar__wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: $spacer-xs + $spacer-xxs;
    
        .block--datos-de-contacto {
          margin-bottom: $spacer-xs + $spacer-xxs;
          max-width: 230px;
        }
      }
    }
  }

  .navbar__wrapper.is-expanded {
    .navbar__elements {
      transform: translateX(0%);

      &:before {
        pointer-events: all;
        opacity: 1;
      }
    }
  }

  .block--system-menu-blockheader-featured,
  .block--system-menu-blockmain {
    width: 100%;

    ul {
      -ms-flex-direction: column !important;
      flex-direction: column !important;

      li {
        padding-bottom: $spacer-sm;

        a {
          width: 100%;
        }
      }

      li:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .navbar__wrapper {
    .navbar__elements {
      width: 75%;
    }
  }
}

@include media-breakpoint-down(xs) {
  .navbar__wrapper {
    .navbar__elements {
      width: 100%;
      display: flex;
      overflow-y: auto;
      flex-direction: column;
      padding-bottom: $spacer-sm;
      border-left: $spacer-sm solid rgba($ma-gray-500, 0.6);

      &:after,
      &:before {
        display: none;
      }

      .contactbar__wrapper {
        margin-top: $spacer-sm;
        position: relative;
        order: 3;
      }
    }
  }
}