//////////////////////////////////////
//  Styles for the page full nodes  //
//////////////////////////////////////

.node--page--full,
.node--page--content {
    .content__header {
        @extend .container-fluid;
        background-color: $ma-orange-300;
        padding-top: $spacer-md;
        padding-bottom: $spacer-md;
        background-image: url("#{$m3_assets_dir}/img/flowers_peach.svg");
        background-size: 225px;
        background-position: 75% $spacer-md;
        background-repeat: no-repeat;
    }

    .content__title {
        @extend .container;
        padding-right: 225px;
        position: relative;
        
        .contextual {
            z-index: 10;
        }
    }

    .content__title-h {
        @extend .m3-title-lg;
        color: $ma-purple-600;
        margin: 0;
    }

    .content__intro {}

    .content__content-table {
        @extend .container;

        .content-table__label {
            @extend .m3-body-sm;
            text-transform: uppercase;
        }

        .content-table__table {
            ul {
                @extend .nav;
            }

            li {
                @extend .nav-item;
            }

            a {
                @extend .nav-link, .m3-body-md;
                color: $ma-green-800;
                padding-left: 0;
                text-decoration: underline;
            }
        }
    }

    .content__content {
        margin-top: $spacer-lg;
        margin-bottom: $spacer-xxl;
    }

    .content__footer {
        @extend .m3-block-shade-1-half;
        padding-bottom: $spacer-xl;
    }

    .content__related {
        @extend .container;
    }

    .field-related-pages {
        @extend .row;
    }

    .field-related-pages__item {
        @extend .col-lg-6;
        padding-bottom: $spacer-lg;
        transform: scale(85%);

        .node--card {
            display: flex;
            justify-content: center;
        }
    }
}


// Responsive styles

@include media-breakpoint-down(md) {
    .node--page--full,
    .node--page--content {
        .content__footer {
            &:before {
                height: 75%;
            }
        }
    }
}