///////////////////////////////////////////
//  Styles for the Blog post full nodes  //
///////////////////////////////////////////

.node--resource--full {
    @extend .node--page--full;

    .content__extras {
        @extend .container;
    }

    .content__social-share {
        margin: $spacer-md 0;
    }

    .content__social-share-bar {
        .social-sharing-buttons {
            justify-content: flex-start;
            margin-top: $spacer-xs;
            margin-bottom: $spacer-xs;
        }
    }
    
    .content__description {
        @extend .container;
        margin-top: $spacer-sm + $spacer-xs;
        margin-bottom: $spacer-md;
        padding-right: 225px;
    }

    .content__labels {
        @extend .container;
        padding-right: 225px;
    }
  
    .content__files {
        @extend .container, .m3-indented-column;
        margin-bottom: $spacer-xxl;

        .field-resource-files {

            .field-resource-files__item {
                margin-bottom: $spacer-sm;

                a {
                    @extend .m3-link-lg;
                    @include appendIcon('fa-file-download', 25px);
                    display: block;
                }

                .file--mime-application-zip a {
                    @include appendIcon('fa-file-archive', 25px);
                }
            }
        }
    }
}