/////////////////////////////////////
//  Styles for the resources view  //
/////////////////////////////////////

.page--resources,
.page--recursos {
  @extend .m3-view;

  .content__wrapper {
    .view__exposed {
      .form-item-search-api-fulltext {
        @extend .col-sm-12;
      }

      .form-item-sort-order {
        display: none;
      } 
    
      .form-actions {
        @extend .col-12;
        margin-top: $spacer-xs;
      }

      .advanced-search-link {
        display: none;
      }
    }

    .content-card {
      .content-card__content-type {
        display: none;
      }
    }
  }
}