///////////////////////////////////////
//  Styles for the search view page  //
///////////////////////////////////////

.page--search,
.page--busqueda {
  @extend .m3-view;

  .content__wrapper {
    .view__exposed {
      .form-item-content-type,
      .form-item-keys,
      .form-item-search-api-fulltext {
        @extend .col-6;
      }
    
      .form-item-langcode,
      .form-item-search-api-language {
        @extend .col-12;
      }
      
      .form-actions {
        @extend .col-12;
      }
    }

    .view__content-inner {
      display: initial;
    }
  
    .views-row {
      margin-bottom: initial;
    }
  }
}
