///////////////////////////////////////////
//  Styles for the social networks menu  //
///////////////////////////////////////////

.block--system-menu-blocksocial-networks {
    ul {
        @extend .nav;
        padding: $spacer-xs $spacer-sm;
    }

    li {
        @extend .nav-item;
    }

    li:not(:last-child) {
        margin-right: $spacer-sm;
    }

    a {
        @extend .nav-link;
        @include iconize('fa-link', 16px);
        width: 20px;
        padding-right: 0 !important;
        padding-left: 20px !important;
        overflow: hidden;
        position: relative;
        color: $ma-purple-200;
        font-size: 0;

        &:before {
            @include centerThis();
        }

        &:hover {
            color: $ma-purple-300;
        }
    }

    .facebook {
        @include iconize('fa-facebook', 16px, 'fab');
    }

    .twitter {
        @include iconize('fa-twitter', 16px, 'fab');
    }

    .instagram {
        @include iconize('fa-instagram', 16px, 'fab');
    }

    .youtube {
        @include iconize('fa-youtube', 16px, 'fab');
    }
}