/////////////////////////////////////
//  Color variables and overrides  //
/////////////////////////////////////

// Color variables for M-III
$m3-success: #28A745;
$m3-danger: #DC3545;
$m3-warning: #FFC106;
$m3-info: #17A2B8;
$m3-light: #FFFFFF;
$m3-dark: #303030;

// Color Variables for Maria
$ma-green-100: #F2FFF9;
$ma-green-200: #D0FAE7;
$ma-green-300: #96DABC;
$ma-green-400: #4CBF8C;
$ma-green-500: #3CA677;
$ma-green-600: #30855F;
$ma-green-700: #286E4F;
$ma-green-800: #0E4C37;

$ma-purple-200: #EBD7F0;
$ma-purple-300: #A684AE;
$ma-purple-400: #7E398E;
$ma-purple-500: #5B1771;
$ma-purple-600: #3C1345;

$ma-orange-100: #FFECEB;
$ma-orange-200: #FFD3D0;
$ma-orange-300: #FF8F85;
$ma-orange-400: #FC766A;

$ma-yellow-300: #FAEAB4;
$ma-yellow-400: #FCD757;
$ma-yellow-500: #F5C116;

$ma-gray-500: #656565;

// Override bootstrap default colors
$primary:       $ma-green-600 !default;
$secondary:     $ma-purple-400 !default;
$success:       $m3-success !default;
$info:          $m3-info !default;
$warning:       $m3-warning !default;
$danger:        $m3-danger !default;
$light:         $m3-light !default;
$dark:          $m3-dark !default;

// Extend bootstrap theme pallete
$theme-colors: (
    "gray": $ma-gray-500
);