///////////////////////////////////////
//  Variables for visual parameters  //
///////////////////////////////////////

$m3-roundness: 8px;

$m3-layout-identation: 8.333%;

$m3-embed-video-ratio: 56.25%; // Aspect ratio 16:9 (9 / 16 -> 0.5625; Height in relation to width)

$header-offset: 183px;

$extended-max-width: 1440px;