////////////////////////////
//  Global button styles  //
////////////////////////////

@mixin m3-button($size: $t-01, $padding-vertical: $spacer-xs + $spacer-xxs, $padding-horizontal: $spacer-sm + $spacer-xxs) {
    display: inline-block;
    font-size: $size;
    font-weight: 400;
    text-transform: uppercase;
    line-height: $size * 1.5;
    padding: $padding-vertical $padding-horizontal;
    border-radius: 999px;
    transform: scale(1);
    transition: transform 0.2s;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:active:hover {
        transform: scale(0.95);
    }
}


// Button styles
%m3-cta-button {
    @include button-variant($ma-green-600, transparent);
    @include m3-button;
    border-width: 2px;
    border-style: solid;
    color: theme-color('light');

    &:hover {
        background-color: $ma-green-400;
        color: theme-color('light');
    }
}

%m3-cta-button--help {
    @include button-variant($ma-orange-400, transparent);
    @include m3-button;
    border-width: 2px;
    border-style: solid;
    color: theme-color('light');

    &:hover {
        background-color: $ma-orange-300;
        color: theme-color('light');
    }
}

%m3-standard-button {
    @include button-variant(theme-color('light'), $ma-green-600);
    @include m3-button;
    border-width: 2px;
    border-style: solid;
    color: $ma-green-600;

    &:hover {
        color: theme-color('light');
        background-color: $ma-green-400;
        border-color: $ma-green-400;
    }
}

%m3-ghost-button {
    @extend .btn-link;
    @include m3-button;
    color: $ma-green-400;

    &:hover {
        color: $ma-green-600;
    }
}

%m3-tag-button {
    @extend .m3-tag;
    @include button-variant($ma-yellow-300, transparent);
    @include border-rounded($spacer-xxs);
    margin-right: 0.5rem;
    padding: 6px 15px;
    border: none;
    color: $ma-green-700 !important;
}

%m3-circle-button {
    @include m3-button;
    @include square(35px);
    @include border-rounded(20px);
    display: inline-block;
    overflow: hidden;
    position: relative;
    border: 2px solid theme-color('primary');
    background-color: theme-color('light');
    color: theme-color('primary');
    padding: 0;

    .icon {
        @include centerThis();
        width: 100%;
    }
}

%m3-language-button {
    @include m3-button;
    display: block;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px; 
    font-weight: 500;

    .icon {
        @include iconize('fa-language');
        width: 100%;
    }
}