//////////////////////////
//  Global card styles  //
//////////////////////////

// Drupal card columns extended behavior
.card-columns {
    @include media-breakpoint-down(md) {
        column-count: 2;
    }

    @include media-breakpoint-down(xs) {
        column-count: 1;
    }
}


// Common M3 card styles

.card-link {
    display: block;
    text-decoration: none !important;
    width: 100%;

    &:hover {
        .section-card__header {
            background-color: $ma-green-400;
            border: 1px solid $ma-green-400;
        }

        .content-card {
            background-color: $ma-green-100;
        }
    }
}


// Section card

.section-card {
    @extend .m3-rounded;
    max-width: 600px;
    height: 300px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgba($ma-gray-500, 0.1);
}

.section-card__inner {
    position: absolute;
    width: 100%;
    bottom: -50px;
}

.section-card__header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacer-xs $spacer-md;
    background-color: $ma-green-500;
    border: 1px solid $ma-green-500;
    color: theme-color('light');
    border-radius: 999px;   
}

.section-card__title {
    @extend .m3-title-sm;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: center;
    color: theme-color('light');
}


// Content card elements

.content-card {
    @extend .m3-rounded, .m3-drop-shadow;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    background-color: theme-color('light');
    border: 1px solid $ma-green-500;
    margin: $spacer-sm auto;
    padding: $spacer-xs;
}

.content-card__picture {
    @extend .m3-rounded;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content-card__content {
    padding: $spacer-md $spacer-sm;
}

.content-card__title {
    @extend .m3-title-xs;
    color: $ma-purple-400;
    margin: 0;
    padding: 0;

    .icon {
        display: none;
    }
}

.content-card__description {
    @extend .m3-tag;
    margin-top: $spacer-sm + $spacer-xs;
    text-transform: uppercase;
    color: $ma-green-700;

    & > span:not(:last-child):after {
        content: ' | '
    }
}

.content-card__brief {
    @extend .m3-body-sm;
    margin-top: $spacer-sm + $spacer-xs;
}


// Content card modes

.content-card--featured {
    max-width: 1200px;

    .content-card__inner {
        @extend .row;
        margin: 0;
    }

    .content-card__picture {
        @extend .col-5;
        height: auto;
    }

    .content-card__content {
        @extend .col-7;
        border-top: none;
        border-left: 1px dotted $ma-gray-500;
        padding-top: $spacer-lg;
        padding-bottom: $spacer-lg;
    }
}

.content-card--brief {}

.content-card--simple {
    .content-card__brief {
        display: none;
    }
}

.content-card--minimal {
    @extend .content-card--simple;

    &:not(.content-card--featured) {
        .content-card__picture {
            height: 200px;
        }
    }

    .content-card__description {
        display: none;
    }
}

.content-card--tag {
    @extend .content-card--minimal;

    &:not(.content-card--featured) {
        .content-card__picture {
            height: 100px;
        }
    }

    .content-card__content {
        padding: $spacer-sm $spacer-md;
    }

    .content-card__title {
        @extend .m3-body-md, .text-primary;
        position: relative;

        .icon {
            @include iconize("fa-chevron-right", 20px);
            @include centerThis('right');
        }
    }
}


// Collection card

.collection-card {
    @extend .content-card;
}

.collection-card__counter {
    @extend .bg-secondary, .m3-featured-sm, .text-light;
    position: relative;
    padding: $spacer-sm $spacer-md;

    .icon {
        @include iconize("fa-chevron-right", 30px);
        @include centerThis('right');
        right: $spacer-sm;
    }
}

.collection-card__header {
    @extend .content-card__content;
    padding: $spacer-sm $spacer-md;
    border-top: 0;
    border-bottom: 1px dotted $ma-gray-500;
}

.collection-card__title {
    @extend .content-card__title;
}

.collection-card__description {
    @extend .content-card__description;
}

.collection-card--minimal {
    .collection-card__description {
        display: none;
    }
}
