///////////////////////////////////
//  Content nodes common styles  //
///////////////////////////////////

.node {
  .content__description {
    @extend .m3-featured-sm;

    a {
      @extend .m3-link;
    }
  }
  
  .content__labels {
    .field-content-topics {
      display: inline;
    }
  
    .field-content-topics__item {
      margin-bottom: $spacer-sm;
      display: inline-block;
      
      a {
        @extend %m3-tag-button;
        display: inline-block;
      }
    }

    .field-resource-type,
    .field-blog-post-type,
    .field-profile-type {
      margin-bottom: $spacer-sm;
      display: inline-block;

      a {
        @extend %m3-tag-button;
        display: inline-block;
      }
    }
  }

  .content__intro,
  .content__content {
    @extend .m3-text-styled;
  }
}
