//////////////////////////////////////
//  Styles for the page full nodes  //
//////////////////////////////////////

// Headings

.content-heading {
    margin-top: $spacer-lg;
    margin-bottom: $spacer-md;
}

.content-heading__title {
    @extend .m3-title-md;
    margin: 0;
}

.content-heading--render-hidden {
    .content-heading__title {
        display: none;
    }
}


// Global layout item

.content-layout {
    padding-top: $spacer-sm;
    padding-bottom: $spacer-sm;
}

.content-layout--style-light {
    background-color: $light;
    color: $dark;
}

.content-layout--style-dark {
    background-color: $dark;
    color: $light;
}

.content-layout__columns-row {
    @extend .row;
}

.content-layout__column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content-layout__column-a {
    @extend .content-layout__column;
}

.content-layout__column-b {
    @extend .content-layout__column;
}

.content-layout__column-c {
    @extend .content-layout__column;
}

.content-layout--columns-vertical-alingment-top {
    .content-layout__columns-row {
        align-items: flex-start;
    }
}

.content-layout--columns-vertical-alingment-middle {
    .content-layout__columns-row {
        align-items: center;
    }
}

.content-layout--columns-vertical-alingment-bottom {
    .content-layout__columns-row {
        align-items: flex-end;
    }
}

.content-layout--columns-flow-ascendant {
    .content-layout__columns-row {
        flex-direction: row;
    }
}

.content-layout--columns-flow-descendant {
    .content-layout__columns-row {
        flex-direction: row-reverse;
    }
}

// Render modes

.content-layout--render-wide,
.content-heading--render-wide {
    @extend .container-fluid;
    // width: 100%;
    // padding: 0;
}

.content-layout--render-contained,
.content-heading--render-contained {
    @extend .container;
}

.content-layout--render-indented,
.content-heading--render-indented {
    @extend .container, .m3-indented-column;

    .content-layout__columns-row {
        @extend .m3-indented-column__row;
    }
}


// Single column

.content-layout--one-column {
    .content-layout__column-a {
        @extend .col-12;
    }
}


// Two columns

.content-layout--two-columns {
    // padding-left: 0;
    // padding-right: 0;
    
    .field-content-column-a,
    .field-content-column-b {
        width: 100%
    }

    &.content-layout--render-wide {
        @extend .container-fluid;
    }
}

.content-layout--two-columns.content-layout--columns-width-balanced {   
    .content-layout__column {
        @extend .col-md-6;
    }
}

.content-layout--two-columns.content-layout--columns-width-a-wider {
    .content-layout__column-a {
        @extend .col-md-8;
    }
    
    .content-layout__column-b {
        @extend .col-md-4;
    }
}

.content-layout--two-columns.content-layout--columns-width-b-wider {
    .content-layout__column-a {
        @extend .col-md-4;
    }
    
    .content-layout__column-b {
        @extend .col-md-8;
    }
}


// Triple column

.content-layout--three-columns {
    // padding-left: 0;
    // padding-right: 0;

    .field-content-column-a,
    .field-content-column-b,
    .field-content-column-c {
        width: 100%
    }

    &.content-layout--render-wide {
        @extend .container-fluid;
    }
}

.content-layout--three-columns.content-layout--columns-width-balanced {   
    .content-layout__column {
        @extend .col-md-4;
    }
}

.content-layout--three-columns.content-layout--columns-width-a-wider {
    .content-layout__column-a {
        @extend .col-md-6;
    }
    
    .content-layout__column-b {
        @extend .col-md-3;
    }

    .content-layout__column-c {
        @extend .col-md-3;
    }
}

.content-layout--three-columns.content-layout--columns-width-b-wider {
    .content-layout__column-a {
        @extend .col-md-3;
    }
    
    .content-layout__column-b {
        @extend .col-md-6;
    }

    .content-layout__column-c {
        @extend .col-md-3;
    }
}

.content-layout--three-columns.content-layout--columns-width-c-wider {
    .content-layout__column-a {
        @extend .col-md-3;
    }
    
    .content-layout__column-b {
        @extend .col-md-3;
    }

    .content-layout__column-c {
        @extend .col-md-6;
    }
}


// Content Canvas
.paragraph--type--freeform-content-canvas {
    @extend .m3-text-styled;
}


// Embed Image

.content-item--embed-image {
    margin-bottom: $spacer-sm;
    
    .embed-image__img {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}


// Embed Video

.content-item--embed-video {
    margin-top: $spacer-sm;
    margin-bottom: $spacer-sm;

    .field-media-oembed-video {
        width: 100%;
        padding-top: $m3-embed-video-ratio;
        position: relative;

        & > iframe {
            @extend .m3-iframes;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
}


// Slider and Carrousel

.content-item--slider {
    .paragraph__content {
        margin: $spacer-sm 0;
    
        .slick-track {
            display: flex;
            align-items: center;
        }

        .content-item--rich-text {
            padding-right: $spacer-md;
            padding-left: $spacer-md;
        }
    }
}

.content-item--logo-carrousel {
    .paragraph__content {
        margin: $spacer-sm 0;
    
        .logo-carrousel__item {
            padding: 0 $spacer-sm;
    
            img {
                width: 100%;
                max-width: 300px;
            }
        }
    }
}


// Cover behavior for image, video, slider and carrousel

.content-layout--one-column.content-layout--render-wide {
    .content-item--embed-image:not(.content-item--slider *),
    .content-item--embed-video:not(.content-item--slider *),
    .content-item--slider,
    .content-item--logo-carrousel {
        margin-left: -15px;
        margin-right: -15px;
    }
}


// Layout Styles

/* Yellow */
.content-layout--style-maria-1 {
    padding-top: $spacer-xl;
    padding-bottom: $spacer-xl;
    background-color: $ma-yellow-400;
    background-image: url("#{$m3_assets_dir}/img/circles_left.svg"), url("#{$m3_assets_dir}/img/circles_right.svg");
    background-size: 15%;
    background-position: 5% 20%, 95% 80%;
    background-repeat: no-repeat;

    &.content-layout--render-wide {
        .layout__content {
            @extend .container;
        }
    }

    &.content-layout--render-contained {
        margin-top: $spacer-md;
        margin-bottom: $spacer-md;
        padding: $spacer-lg;
    }
}

/* Waves */
.content-layout--style-maria-2 {
    padding-top: $spacer-xxl;
    // padding-bottom: $spacer-xxl;
    position: relative;
    background-color: $ma-orange-300;
    background-image: url("#{$m3_assets_dir}/img/waves.svg");
    background-size: 100%;
    background-position: center;

    .content-item--rich-text {
        padding: $spacer-lg;
        margin: 0 (-1 * $spacer-lg);
        background-color: $m3-light;
    }

    &:before {
        display: block;
        content: '';
        width: 100%;
        height: 106px;
        background-color: theme-color('light');
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &.content-layout--render-wide {
        .layout__content {
            @extend .container;
        }
    }

    &.content-layout--render-contained {
        margin-top: $spacer-md;
        margin-bottom: $spacer-md;
        padding-left: $spacer-lg;
        padding-right: $spacer-lg;
    }
}

/* Peach */
.content-layout--style-maria-3 {
    padding-top: $spacer-xl;
    padding-bottom: $spacer-xl;
    background-color: $ma-orange-300;
    background-image: url("#{$m3_assets_dir}/img/spots_left.svg"), url("#{$m3_assets_dir}/img/spots_right.svg");
    // background-size: 20%;
    background-size: contain;
    background-position: 5% 20%, 95% 80%;
    background-repeat: no-repeat;

    &.content-layout--render-wide {
        .layout__content {
            @extend .container;
        }
    }

    &.content-layout--render-contained {
        margin-top: $spacer-md;
        margin-bottom: $spacer-md;
        padding: $spacer-lg;
    }
}

/* Flower */
.content-layout--style-maria-4 {
    position: relative;
    padding-top: $spacer-xxl;
    padding-bottom: $spacer-xxl;
    background-color: $m3-light;

    .content-item--rich-text {
        @extend .m3-rounded;
        padding: $spacer-md;
        margin: 0 (-1 * $spacer-md);
        background-color: $m3-light;
    }

    .layout__content {
        position: relative;
        z-index: 1;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: $spacer-lg;
        left: -5%;
        right: 0;
        z-index: 0;
        background-image: url("#{$m3_assets_dir}/img/flowers_purple.svg");
        background-size: 14%;
        // background-position: 6% 20%;
        background-repeat: no-repeat;
        opacity: 0.9;
    }

    &.content-layout--render-wide {
        overflow: hidden;

        &:before {
            left: 3%;
        }

        .layout__content {
            @extend .container;
        }
    }

    &.content-layout--render-contained {
        margin-top: $spacer-md;
        margin-bottom: $spacer-md;
        padding: $spacer-xxl $spacer-lg;
    }
}

/* Coral */
.content-layout--style-maria-5 {
    padding-top: $spacer-xl;
    padding-bottom: $spacer-xl;
    background-color: $m3-light;
    background-image: url("#{$m3_assets_dir}/img/coral_left.svg"), url("#{$m3_assets_dir}/img/coral_right.svg");
    background-size: contain;
    background-position: 0% 20%, 100% 80%;
    background-repeat: no-repeat;

    &.content-layout--render-wide {
        background-size: 10%;

        .layout__content {
            @extend .container;
        }
    }

    &.content-layout--render-contained {
        margin-top: $spacer-md;
        margin-bottom: $spacer-md;
        padding: $spacer-lg;
    }
}

/* Purple */
.content-layout--style-maria-6 {
    padding-top: $spacer-xl;
    padding-bottom: $spacer-xl;
    background-color: $m3-light;
    background-image: url("#{$m3_assets_dir}/img/purple_left.svg"), url("#{$m3_assets_dir}/img/purple_right.svg");
    background-size: contain;
    background-position: 0% 20%, 100% 80%;
    background-repeat: no-repeat;

    &.content-layout--render-wide {
        background-size: 20%;

        .layout__content {
            @extend .container;
        }
    }

    &.content-layout--render-contained {
        margin-top: $spacer-md;
        margin-bottom: $spacer-md;
        padding: $spacer-lg;
    }
}

/* Sun */
.content-layout--style-maria-7 {
    padding-top: $spacer-xl;
    padding-bottom: $spacer-xl;
    background-color: $m3-light;
    background-image: url("#{$m3_assets_dir}/img/sun_left.svg"), url("#{$m3_assets_dir}/img/sun_right.svg");
    background-size: contain;
    background-position: 0% 20%, 100% 80%;
    background-repeat: no-repeat;

    &.content-layout--render-wide {
        background-size: 10%;

        .layout__content {
            @extend .container;
        }
    }

    &.content-layout--render-contained {
        margin-top: $spacer-md;
        margin-bottom: $spacer-md;
        padding: $spacer-lg;
    }
}

/* Vainilla */
.content-layout--style-maria-8 {
    padding-top: $spacer-xl;
    padding-bottom: $spacer-xl;
    background-color: $m3-light;
    background-image: url("#{$m3_assets_dir}/img/vaina_left.svg"), url("#{$m3_assets_dir}/img/vaina_right.svg");
    background-size: contain;
    background-position: 0% 20%, 100% 80%;
    background-repeat: no-repeat;

    &.content-layout--render-wide {
        background-size: 10%;

        .layout__content {
            @extend .container;
        }
    }

    &.content-layout--render-contained {
        margin-top: $spacer-md;
        margin-bottom: $spacer-md;
        padding: $spacer-lg;
    }
}

/* Colorful with white */
.content-layout--style-maria-9 {
    padding-top: $spacer-xl;
    padding-bottom: $spacer-xl;
    background-color: $m3-light;
    background-image: url("#{$m3_assets_dir}/img/colorful.svg");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;

    .content-item--rich-text {
        @extend .m3-rounded;
        padding: $spacer-md;
        margin: 0 (-1 * $spacer-md);
        background-color: rgba($m3-light, 0.8);
        backdrop-filter: blur($spacer-xxs);
    }

    &.content-layout--render-wide {
        .layout__content {
            @extend .container;
        }
    }

    &.content-layout--render-contained {
        @extend .m3-rounded;
        margin-top: $spacer-md;
        margin-bottom: $spacer-md;
        padding: $spacer-lg;
        border: 1px solid $ma-purple-200;
    }
}

/* Colorful no white */
.content-layout--style-maria-10 {
    padding-top: $spacer-xl;
    padding-bottom: $spacer-xl;
    background-color: $m3-light;
    background-image: url("#{$m3_assets_dir}/img/colorful.svg");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;

    .content-item--rich-text {
        padding: $spacer-md;
        margin: 0 (-1 * $spacer-md);
    }

    &.content-layout--render-wide {
        .layout__content {
            @extend .container;
        }
    }

    &.content-layout--render-contained {
        @extend .m3-rounded;
        margin-top: $spacer-md;
        margin-bottom: $spacer-md;
        padding: $spacer-lg;
        border: 1px solid $ma-purple-200;
    }
}