///////////////////
//  Form styles  //
///////////////////

.form-item,
.form-actions,
.fieldset {
    @extend .form-group;

    .form-item__label,
    legend {
        @extend .col-form-label;
        margin: 0;
        margin-bottom: $spacer-sm;
        padding: 0;

        label,
        span {
            @extend .m3-label;
            margin: 0;
        }

        .form-required:after {
            color: theme-color('danger');
            content: "*";
            padding-left: 5px;
        }
    }

    .description {
        padding-left: 0.5em;
    }
}

.m3-form-control {
    @extend .form-control;
    background: theme-color('light');
    padding: ($spacer-xxs + 2px) $spacer-sm;
    border: 1px solid $ma-green-600;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;

    &:focus {
        border-color: $ma-green-400;
        box-shadow: none;
    }
}

input:not([type='submit']):not([type='checkbox']):not([type='radio']),
textarea,
.select__container {
    @extend .m3-form-control;
}

input[type='checkbox'],
input[type='radio'] {
    margin-right: 6px;
    margin-left: 1em;
}
  
.select__container {
    height: auto;
    padding: ($spacer-xxs + 1px) $spacer-sm;
    position: relative;
    overflow: hidden;

    select,
    .select2-selection {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        width: 100%;
        height: 100%;
        padding-right: 50px;
        border: 0;
    }
}


// Select2 overrides

.select2-container {
    .select2-selection,
    .select2-selection--single {
        border-radius: unset !important;
        border: 0 !important;
        height: initial !important;
    
        .select2-selection__rendered {
            padding: 0 !important;
            line-height: inherit !important;
        }

        .select2-selection__arrow {
            display: none;
        }
    }
}

.select2-container--open {
    .select2-dropdown {
        box-sizing: content-box !important;
        left: -1px !important;
    }
}


.select__icon {
    @include centerThis('right');
    @include iconize('fa-chevron-down', 40px);
    height: 100%;
    background-color: transparent;
    color: $ma-green-600;
    pointer-events: none;

    &:before {
        @include centerThis();
        font-size: 20px;
        height: 40px;
    }
}

input[type='submit'] {
    @extend %m3-cta-button;
    width: 100%;
}

.form-checkboxes,
.js-form-type-checkbox,
.js-form-type-radio {
    .form-item {
        margin: 0;
        padding: 0 !important;
    }

    .form-item__contents {
        display: flex;
        align-items: center;
        margin-bottom: $spacer-sm;

        .form-item__label {
            text-indent: 0.2em;
            margin-bottom: 0;
        }

        label {
            cursor: pointer;
        }
    }

    .input__container {
        position: relative;

        .checkmark {
            @extend .m3-form-control;
            display: block;
            width: 24px;
            height: 24px;
            margin: 0;
            padding: 0;
            border-width: 2px;
            border-radius: 4px !important;
            cursor: pointer;
        }

        .radio {
            @extend .m3-form-control;
            @include iconize("fa-circle", 24px, "far");
            margin: 0;
            padding: 0;
            border-width: 0px;
            cursor: pointer;
            color: $ma-green-600;
        }
        
        input {
            display: none !important;
        }

        input:checked ~ .checkmark {
            background-color: rgba($ma-gray-500, 0.2);
            @include iconize("fa-check", 24px);

            &:before {
                font-size: 16px;
                line-height: 20px;
            }
        }

        input:checked ~ .radio {
            @include iconize("fa-dot-circle", 24px, "far");
        }
    }
}

@include media-breakpoint-down(xs) {
    input[type='submit'] {
        margin-top: 23px;
    }
}