/////////////////////
//  Global styles  //
/////////////////////

html {
  scroll-behavior: smooth;
}

body {
  @extend .m3-root-text;
}

h1, h2, h3, h4, h5, h6 {
  @extend .m3-title;
}

.m3-iframes {
  display: block;
  width: 100%;
  height: 100%;
}

// .m3-lecture-safe {
//   max-width: 35em;
//   margin-left: auto;
//   margin-right: auto;
// } 

.m3-text-styled {
  // Add classes for text contents (Lists, links, paragraphs, etc).
  @extend .m3-formatted-images, .m3-formatted-lists;

  hr {
    display: block;
    margin: $spacer-xl auto;
    width: 100%;
    min-width: 200px;
    max-width: 900px;
    height: $spacer-md;
    background: url("#{$m3_assets_dir}/img/hr.svg") no-repeat center center;
    border: 0;
  }

  a:not([class]) {
    @extend .m3-link;
    color: $ma-green-600;

    &:hover {
      color: $ma-green-700;
    }
  }
  
  a.cta-button {
    @extend %m3-cta-button;
  }

  a.standard-button {
    @extend %m3-standard-button;
  }

  a.featured-link {
    @extend %m3-ghost-button;
  }

  a.featured-link-icon {
    @extend .m3-title-sm;
    position: relative;

    &:after {
      content: '';
      width: 30px;
      height: 30px;
      display: block;
      background: url("#{$m3_assets_dir}/ui/chevron_single_blue.svg") no-repeat center center;
      @include centerThis(right);
      right: -30px;
    }
  }

  p {
    @extend .m3-body-md, .m3-lecture-safe !optional;
  }

  p.featured {
    @extend .m3-featured-lg, .m3-lecture-safe !optional;
  }

  p.block-shadow {
    display: inline-block;
    @extend .m3-block-shadow;
  }

  h2.heading-1 {
    @extend .m3-subtitle-lg, .m3-lecture-safe !optional;
    margin-bottom: 1em;
  }

  h3.heading-2 {
    @extend .m3-subtitle-md, .m3-lecture-safe !optional;
    margin-bottom: 1em;
  }

  h4.heading-3 {
    @extend .m3-subtitle-sm, .m3-lecture-safe !optional;
    margin-bottom: 1em;
  }

  h5.heading-4 {
    @extend .m3-subtitle-xs, .m3-lecture-safe !optional;
    margin-bottom: 1em;
  }

  blockquote {
    @extend .m3-quote, .m3-lecture-safe !optional;
    margin-bottom: 40px;
    padding: 0 12%;
    text-align: center;
    line-height: 1.2;
    position: relative;
    
    p {
      @extend .m3-quote;
    }

    &:after {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 5%;
      top: 0;
      background: url("#{$m3_assets_dir}/img/quote_left.svg") no-repeat center center;
      background-size: contain;
    }

    &:before {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 5%;
      top: 0;
      background: url("#{$m3_assets_dir}/img/quote_right.svg") no-repeat center center;
      background-size: contain;
    }
  }

  .quote-attribution-name {
    @extend .m3-featured-md;
    max-width: unset;
    padding-left: 65%;
    margin-bottom: 0;
    color: $ma-purple-600;
  }

  .quote-attribution-position {
    max-width: unset;
    padding-left: 65%;
    margin-bottom: 0;
    color: $ma-purple-600;
    font-weight: 500;
    text-transform: uppercase;
  }

  .quote-block {
    @extend .m3-indented-column;
    padding-top: 80px;
    padding-bottom: 40px;
    background: rgba($ma-gray-500, 0.1);
  }

  .featured-image-wrapper {
    @extend .m3-block-shade-1-half;
    text-align: center;
    padding-bottom: 30px;

    img {
      border-top: 20px solid $ma-gray-500;
      max-width: 1110px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .featured-image-wrapper {
    img {
      max-width: 90% !important;
    }
  }
}

@include media-breakpoint-down(md) {
  .m3-text-styled {
    hr {
      margin-top: 2.5em;
    }

    .featured-image-wrapper {
      img {
        max-width: 75%;
      }
    }

    .quote-attribution-name,
    .quote-attribution-position {
      padding-left: 55%;
    }

    blockquote {
      &:before,
      &:after {
        width: 30px;
        height: 30px;
      }

      &:before {
        right: 0;
      }

      &:after {
        left: 0;
      }
    }

    .quote-block {
      padding-top: 40px;
      padding-bottom: 30px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .m3-text-styled {
    h3.subtitle {
      margin-top: 1.5em;
    }

    hr {
      display: none;
    }

    .quote-attribution-name,
    .quote-attribution-position {
      padding-left: 35%;
    }
  }
}

@include media-breakpoint-down(xs) {
  .m3-text-styled {
    .featured-image-wrapper {
      img {
        border-top-width: 10px;
        max-width: 90%;
      }
    }
  }
}