////////////////////////////
//  Global pager styles  //
////////////////////////////

.pager {
  margin-top: $spacer-xxl;
  margin-bottom: $spacer-xxl;

  .pager__items {
    @extend .pagination, .justify-content-center;
  }

  .pager__item {
    @extend .page-item;
    margin-right: $spacer-sm + $spacer-xs;

    &:last-child {
      margin-right: 0;
    }
    
    .pager__link,
    .pager__label {
      @extend .page-link, .m3-body-md;
      display: flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      margin: 0;
      border: none;
      border-radius: 99px;
      color: $ma-green-600;
      background-color: transparent;

      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }

    &:hover {
      .pager__link,
      .pager__label {
        background-color: $ma-green-100;
      }
    }

    .is-disabled {
      color: $ma-gray-500 !important;
      border-color: $ma-gray-500 !important;
      background-color: transparent !important;
    }

    &.is-active {
      @extend .active;
    
      .pager__link,
      .pager__label {
        background-color: $ma-purple-200;
        color: $ma-purple-400;
      }
    }
  }

  .pager__item--previous,
  .pager__item--next {
    .pager__link,
    .pager__label {
      border: 2px solid $ma-green-600;
    }

    &:hover {
      .pager__link,
      .pager__label {
        border: 2px solid $ma-green-600;
        background-color: transparent;
      }
    }
  }

  .pager__item--first,
  .pager__item--last {
    .icon {
      display: none;
    }

    &:hover {
      .pager__link,
      .pager__label {
        background-color: transparent;
      }
    }
  }

  .pager__item--previous {
    .icon {
      @include iconize("fa-angle-left", $t-03, "far");
      display: inline;
    }
  }
  
  .pager__item--next {
    .icon {
      @include iconize("fa-angle-right", $t-03, "far");
      display: inline;
    }
  }
}

@include media-breakpoint-down(md) {
  .pager {
    .pager__item {      
      .pager__link,
      .pager__label {
        font-size: $t-02;
      }
    }

    .pager__item--first,
    .pager__item--previous,
    .pager__item--next,
    .pager__item--last {
      .icon {
        width: $t-02;
        height: $t-02;

        &:before {
          font-size: $t-02;
          line-height: $t-02;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .pager {
    margin-top: $spacer-lg;
    margin-bottom: $spacer-lg;

    .pager__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around !important;
    }

    .pager__item {
      margin: 0;
    }
    
    .pager__item--first,
    .pager__item--last {
      flex-grow: 1;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}