{#
/**
 * @file
 * Theme override for freeform node.
 *
 * Add here custom HTML to display using the contents defined in the node with the given code.
 *
 * Template name should be: node--freeform--CODE.html.twig
 *
 * CODE should not use spaces or underscores. Either on its definition or in the template name.
 *
 * Only codes for Freeform contents (CONTENT-CODES) can use slashes.
 *
 * Available variables:
 * - freeform: the freeform data fetched
 *  - contents: the freeform data fetched
 *    - CONTENT-CODE: Freeform content code used in the node, can use underscores
 *      - entity: Freeform content paragraph entity
 *      - content: Freeform content paragraph entity contents (as provided by drupal display configuration)
 *  - code: Freeform code
 *  - node: Freeform node
 *  - nid: Freeform nid
 */
#}

{# Include this import to use freeformMacros on your template #}
{% import '@freeforms/macros.twig' as freeformMacros %}

<div class="homepage">
  <div class="homepage__header">
    <div class="homepage__header-inner">
      <h2 class="homepage__title">
        {{ freeformMacros.freeformText('title', freeform) }}
      </h2>
      <div class="homepage__subtitle">
        {{ freeformMacros.freeformText('sub-title', freeform) }}
      </div>
      <div class="homepage__intro">
        {{ freeformMacros.freeformText('intro', freeform) }}
      </div>
      <div class="homepage__header-background" style="background-image: url('{{ freeformMacros.freeformImageUri('intro-image', freeform)|trim }}')"></div>
    </div>
  </div>
  <div class="homepage__body">
    {{ freeformMacros.freeformEntityRender('body', freeform) }}
  </div>
</div>